<div class="container">
  <navbar-menu></navbar-menu>
  <div class="row main">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Calculate The Body Mass Index</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>height (cm)</label>
            <input ng-model="main.height" class="form-control" />
          </div>
          <div class="form-group">
            <label>weight (kg)</label>
            <input ng-model="main.weight" class="form-control"/>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
              <button class="btn btn-success btn-block" ng-click="main.calculate()">
              Calculate
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Results</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Body Mass Index</label>
            <input class="form-control" ng-model="main.bmi" readonly/>
          </div>
          <div class="form-group">
            Considering the BMI, you have
            <input ng-model="main.legend" class="form-control" readonly/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
